//Colors
$background-color: #fefefe;
$forground-color: #111;
$brand-color1: #4435f7;
$color1: #e8f735;
$brand-color2: #fbc954;
$color2: #5486fb;
$brand-color3: #4cfde9;
$color3: #fd4c60;

// Typography
$small: 2vw;
$normal: 4vw;
$medium: 5vw;
$big: 6vw;
$extra-big: 10vw;


